.site-header {
  background: #2196F3;
  border: unset;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.site-title {
  color: white;
}

.site-title:visited {
  color: white;
}

.site-nav .page-link {
  color: white;
}

.page-link {
  color: white;
}

.page-link:visited {
  color: white;
}

@media screen and (max-width: 600px) {
  .page-link {
    color: black;
  }

  .page-link:visited {
    color: black;
  }
}
